body{
  font-family: Arial;
  background:#eef2f7;
}

.container{
  width:500px;
  margin:80px auto;
  background:white;
  padding:30px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
}

input{
  width:80%;
  padding:10px;
  margin:10px;
}

button{
  padding:10px 20px;
  background:#1e3a8a;
  color:white;
  border:none;
  border-radius:5px;
}

.certificate{
  display:none;
  border:3px solid #1e3a8a;
  margin-top:30px;
  padding:20px;
}
